@import url(Double_Feature.ttf);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Double_Feature.ttf" ;
}

body {
    min-height: 100vh ;
    background: url(MC-Website-Gradient-Background-green.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 30px 20px 100px;
    background: transparent;
    /*rgb(8, 219, 5);*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 50px;
    color: black;
    text-decoration: wavy;
    font-weight: 800;
    padding-right: 0px;
}

.navbar {
    margin-right: 0;
}



.navbar a {
    position: relative;
    font-size: 22px;
    color: black;
    font-weight: 600;
    text-decoration: dotted;
    margin-right: 13px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 3px;
    background: green;
    transition: .8s;
}

.navbar a:hover:before {
    width: 100%;    
}

.navbar a:hover {
    background:url(MC-Website-Gradient-Background-green.png) ; 
    padding: 10px;
    transition: .3s;
    text-decoration: underline;
    transition: .8s;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .links {
        margin-top: 10px;
    }
    .toggle_btn {
        display: block;
        cursor: pointer;
        font-size: 1.5rem;
    }
    .links {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        background-color: #333;
        padding: 10px 20px;
    }
    .links.open {
        display: flex;
    }
    .links li {
        margin-right: 0;
        margin-bottom: 8px;
    }
}
